.background-settings {
    background-color: #FFFFFF;
    ;
}

li {
    list-style: circle;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 1052px;
    height: 105px;
    margin: 92px 24px 91px 24px;
}

.heaer__menu {
    display: flex;
    width: 388px;
    height: 23px;
}

.header__links-list{
    display: inline-flex;
    justify-content: space-around;
    font-family: Raleway sans-serif;
    font-size: 18px;
    font-weight: 400;

}

.header__logo {
    width: 148px;
    height: 105px;
    top: -2px;
    left: 454px;
    gap: 0px;
    opacity: 0px;
}

.cover {
    display: flex;
    padding: 0px 15px 176px 15px;
    
    
}
.main-name{
    display: flex;
    justify-content: center;
    z-index: 1;
    text-transform: uppercase;
    color: white;
}

.lots {
    padding: 176px 24px 177px;
}


.about {
    padding: 177px 9px 181px;
}

.footer {
    padding: 181px 49px 49px;
}